.tabledata {
  padding: 2rem;
  transition-duration: 200ms;
}

.tabledata:hover {
  box-shadow: 1px 2px 4px grey;
}

.td-blue {
  background-color: #17a2b8;
}

.td-orange {
  background-color: #ffc107;
}

.td-icon {
  visibility: visible;
}

@keyframes hide {
  from {
    visibility: visible;
  }
  to {
    visibility: hidden;
  }
}
